.logo {
  display: inline-block;
  margin: 0;
}

.navbar-brand {
  margin: 0;
  padding: 5px;
}

body {
  height: 100%;
  margin-bottom: 200px;
  padding-top: 120px;
}

html {
  min-height: 100%;
  position: relative;
}



h2 {
  font-weight: 200;
}

.jumbotron {
}

.jumbotron h2 {
  color: white;
  font-weight: 100;
  font-size: 50px;
}

h3 {
  font-weight: 200;
  font-size: 30px;
}

.navbar {
  height: 120px;
  /*background: rgba(202, 224, 209, .95);*/
  background: rgba(40, 75, 99, .95);
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav{
  margin: 35px 0 5px 0;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.jumbo-cont {
  margin: 0 auto;
}

.dvt-info-section{
  margin: 30px auto;
  justify-content: center;
  text-align: center;
}

.dvt-content {
  margin: 10px 50px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

a.button {
  width: 70px;
  height: 50px;
  background-color: teal;
  text-decoration-color: black;
  text-decoration: none;
}

.dvt-content > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.dvt-content > a:hover {
  color: #000;
}

.dvt-content > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.dvt-content > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.panel-heading {
  text-align: center;
}

.panel-body {
  text-align: center;
  font-size: 20px;
  min-height: 129px;
}

.find-us-container {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
  background: rgba(112, 128, 144, .5);
  z-index: 1000;

}

.find-us {
  background-image: url("../images/uviaMap.jpg");
  height: 200px;
  justify-content: center;
  z-index: 1;
  margin-bottom: 100px;
}

.find-us h3 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.jumbotron {
  min-height: 600px;
  background: #000 url("../images/drandpatient.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 80px;
}

.panel-buttons {
  background-color: #284B63;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 100;
  text-decoration: none;
  height: 40px;
}

.footer {
  position: absolute;
 bottom: 0;
 width: 100%;
 /* Set the fixed height of the footer here */
 height: 100px;
 background: rgba(40, 75, 99, .95);
 margin-top: 50px;
 color: white;
 text-align: center;
 font-weight: 100;
}
